extends layout

block content
  main
    h1= "Week #" + week_number
    a(href="/summary/week_number/" + week_number, id="centeredlink") View tasks
    form(action="/access/update" method="post")
      input(type="hidden", value=week_number, name="week_number")
      table.faulttable
        thead
          tr
            th(align="center") Area
            th(align="center") Access starts
            th(align="center") Access ends
            th(align="center") Ready for beam
        tbody
          each report in reports
            tr
              td= report.where.toUpperCase()
                input(type="hidden",
                    value=report.id,
                    name=report.where+"id")
              if report.starttime
                td(align="center")
                  input(type="text",
                    name=report.where+"start",
                    value=report.starttime,
                    pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
              else
                td(align="center")
                  input(type="text",
                    name=report.where+"start",
                    placeholder="Enter a start time",
                    pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
              if report.endtime
                td(align="center")
                  input(type="text",
                    name=report.where+"end",
                    value=report.endtime,
                    pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
              else
                td(align="center")
                  input(type="text",
                    name=report.where+"end",
                    placeholder="Enter an end time",
                    pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
              if report.readyforbeam
                td(align="center")
                  input(type="text",
                    name=report.where+"beam",
                    value=report.readyforbeam,
                    pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
              else
                td(align="center")
                  input(type="text",
                    name=report.where+"beam",
                    placeholder="Enter a time",
                    pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]")
      input(type="submit", value="Submit changes")

