extends layout

block content
  main
    form(action="/edit_maintenance_task", method='post')#report_form
      ul.form-style-1
        li
          label Your Name
            span.required *
          input(type="text", name="first_name", value=report.reporter.split(' ')[0]).field-divided
          input(type="text", name="last_name", value=report.reporter.split(' ')[1]).field-divided
          input(type="hidden", name="task_id", value=report._id)
        li
          label Responsible
          input(type="text", name="fixer", value=report.fixer).field-long
        li
          label Proposed week number for this task:
          select(name="proposedweeknumber").field-select
            each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
              - var weekn = ((current_weeknumber+val) % 52)
              if current_weeknumber+val === report.week_number
                option(value=weekn, selected)= weekn
              else
                option(value=weekn)= weekn
          label Start and end time (XX:XX)
            span.required *
          input(type="text", name="starttime", value=report.starttime, placeholder="Start time", pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]", required)
          input(type="text", name="endtime", value=report.endtime, placeholder="End time", pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]", required)
        li
          label Location affected:
          if report.where.includes('R11')
            input(type="checkbox", name="location", value="R11", checked)
          else
            input(type="checkbox", name="location", value="R11")
          | R11
          br
          if report.where.includes('R12')
            input(type="checkbox", name="location", value="R12", checked)
          else
            input(type="checkbox", name="location", value="R12")
          | R12
          br
          if report.where.includes('R31')
            input(type="checkbox", name="location", value="R31", checked)
          else
            input(type="checkbox", name="location", value="R31")
          | R31
          br
          if report.where.includes('R3235')
            input(type="checkbox", name="location", value="R3235", checked)
          else
            input(type="checkbox", name="location", value="R3235")
          | R32-35
          br
          if report.where.includes('linac')
            input(type="checkbox", name="location", value="linac", checked)
          else
            input(type="checkbox", name="location", value="linac")
          | Linac
          br
          if report.where.includes('spf')
            input(type="checkbox", name="location", value="spf", checked)
          else
            input(type="checkbox", name="location", value="spf")
          | SPF
          br
          if report.where.includes('other')
            input(type="checkbox", name="location", value="other", checked)
          else
            input(type="checkbox", name="location", value="other")
          | Other
        li
          label Report
            span.required *
          textarea(name="comment", id="comment").field-long.field-textarea!= report.task
        li
          button Save
    button(onClick="window.location.href='/api/get/"+report._id+"'") Cancel
