extends layout

block content
  main
    form(action="/new_task")
      button Add a new maintenance task
    div.centeredselect
      select.field-select(onchange="window.location.assign('/summary/' + this.value);")
        if selected_week=="all"
          option(onclick="window.location.assign('/');", value="all/all", selected) Week number: all
        else
          option(onclick="window.location.assign('/');", value="all/all") Week number: all
        each week_number in week_numbers
          - var d = "window.location.assign('/summary/week_number/" + week_number + "');"
          if selected_week==week_number
            option(onclick=d, value='week_number/'+week_number, selected)= "Week number: " + week_number
          else
            option(onclick=d, value='week_number/'+week_number)= "Week number: " + week_number

    if selected_week!="all"
      a(href="/access/edit/" + selected_week, id="centeredlink") Edit access times
      table.faulttable
          thead
              tr
                  th(align="center") Area
                  th(align="center") Access starts
                  th(align="center") Access ends
          tbody
              each report in reports
                  tr
                      td= report.where.toUpperCase()
                      if !report.starttime && !report.endtime
                          td(align="center") No access
                          td(align="center") No access
                      else if !report.starttime && report.endtime
                          td(align="center") No access
                          td(align="center")= report.endtime
                      else if report.starttime && !report.endtime
                          td(align="center")= report.starttime
                          td(align="center") No access
                      else
                          td(align="center")= report.starttime
                          td(align="center")= report.endtime

    div.report_table
      h1 Interventions that require access to Linac, R11, and/or R31
      include table_headings.pug
        tbody
          each datum, index in linac_data
            - var d = "window.location.assign('/api/get/" + linac_ids[index] + "/" + selected_week + "');"
            tr(onclick=d)
              td= index+1
              each cell, cellindex in datum
                td!= cell

    div.report_table
      h1 Interventions that require access to R1
      include table_headings.pug
        tbody
          each datum, index in r1_data
            - var d = "window.location.assign('/api/get/" + r1_ids[index] + "');"
            tr(onclick=d)
              td= index+1
              each cell in datum
                td!= cell

    div.report_table
      h1 Interventions that require access to R3
      include table_headings.pug
        tbody
          each datum, index in r3_data
            - var d = "window.location.assign('/api/get/" + r3_ids[index] + "');"
            tr(onclick=d)
              td= index+1
              each cell in datum
                td!= cell

    div.report_table
      h1 Interventions that require access to SPF
      include table_headings.pug
        tbody
          each datum, index in spf_data
            - var d = "window.location.assign('/api/get/" + spf_ids[index] + "');"
            tr(onclick=d)
              td= index+1
              each cell in datum
                td!= cell

    div.report_table
      h1 Other interventions
      include table_headings.pug
        tbody
          each datum, index in other_data
            - var d = "window.location.assign('/api/get/" + other_ids[index] + "');"
            tr(onclick=d)
              td= index+1
              each cell in datum
                td!= cell
