extends layout

block content
  main
    div.card
      div.cardcontainer
        ul
          li(onclick="location.href='/api/edit/"+report._id+"'") Edit
          if report.approved
            li(onclick="if (confirm('Click OK if your name is Johan Thånell, and you wish to remove your approval for this task.')) location.href='/api/unapprove/"+report._id+"/"+selected_week+"'") Remove task approval
          else
            li(onclick="if (confirm('Click OK if your name is Johan Thånell, and you wish to approve this task.')) location.href='/api/approve/"+report._id+"/"+selected_week+"'") Approve task
          if report.done
            li(onclick="location.href='/api/mark_not_done/"+report._id+"/"+selected_week+"'") Mark as not completed
          else
            li(onclick="location.href='/api/mark_done/"+report._id+"/"+selected_week+"'") Mark task completed
          li(onclick="if (confirm('Click OK to remove this task')) location.href='/api/archive/"+report._id+"/"+selected_week+"';") Remove task
        h2 Scheduled for week number:
          b!= report.week_number
        h3 Task approved?
          if report.approved
            b Yes
          else
            b No
        p Reported by: 
          b!= report.reporter
        p Reported: 
          b!= report.datetime
        p Affected location(s):
          b!= report.where
        p To be performed by:
          b!= report.fixer
        p Start time:
          b!= report.starttime
        p End time:
          b!= report.endtime
        p Task: 
          b!= report.task
        p Done?: 
          b!= report.done ? 'Yes' : 'No'
