extends layout

block content
    main
      form(action="/api/edit/"+report._id)
        button Edit
      div.card
        div.cardcontainer
          h2 Scheduled for week number:
            b= report.week_number
          p Reported by: 
            b= report.reporter
          p Reported: 
            b= report.datetime
          p Affected location(s):
            b= report.where
          p To be performed by:
            b= report.fixer
          p Task: 
            b= report.task
