extends layout

block content
  main
    form(action="/new_maintenance_task", method='post')#report_form
      ul.form-style-1
        li
          h1.error= error
        li
          label Your Name
            span.required *
          input(type="text", name="first_name", value=firstname, placeholder="First", required).field-divided
          input(type="text", name="last_name", value=lastname, placeholder="Last", required).field-divided
        li
          label Responsible
            span.required *
          input(type="text", name="fixer", value=responsible, placeholder="Person/team", required).field-long
        li
          label Proposed week number for this task:
            span.required *
          select(name="proposedweeknumber", required).field-select
            option(value=current_weeknumber, selected)= current_weeknumber
            - var incr = 0
            while incr < 10
              - var weekn = ((current_weeknumber+incr++) % 52) + 1
              option(value=weekn)= weekn
        li
          label Start and end time (XX:XX)
            span.required *
          input(type="text", name="starttime", value=starttime, placeholder="Start time", pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]", required)
          input(type="text", name="endtime", value=endtime, placeholder="End time", pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]", required)
        li
          label Location(s) affected:
            span.required *
          input(type="checkbox", name="location", value="R11")
          | R11
          br
          input(type="checkbox", name="location", value="R12")
          | R12
          br
          input(type="checkbox", name="location", value="R31")
          | R31
          br
          input(type="checkbox", name="location", value="R3235")
          | R32-35
          br
          input(type="checkbox", name="location", value="linac")
          | Linac
          br
          input(type="checkbox", name="location", value="spf")
          | SPF
          br
          input(type="checkbox", name="location", value="other")
          | Other
        li
          label Details
            span.required *
          textarea(name="comment", id="comment", required).field-long.field-textarea= comment
        li
          button Submit
    button(onClick="window.history.go(-1)") Cancel
